{% extends "base.html" %}

{% block content %}
<!--  <h1>WELCOME TO MY SHOP!</h1>
  <p>Now it is {% now "jS F Y H:i" %}</p>
  <p>Hello {{ user }}!<p>

  <ul>
     {% for item in listed %}
        <li><a href="#">{{ item }}</a></li>
     {% endfor %}
  </ul>
  <div class="container-fluid">
    <h3>Sign in</h3>

    <form class="login" action="/echo" method="post">
            <label for="login">Username</label>
            <input type="text" id="login" name="login">

            <label for="password">Password</label>
            <input type="password" id="password" name="password">

            <input type="submit" value="Sign in">
    </form>
  </div>
  <div class="container-fluid">
    <br>
      <p>Or alternatively:</p>
    <br>
        <h3>Create account</h3>

        <form action="/echo" method="post">
            <label for="login-field">Your username (email):<br></label>
            <input type="text" name="login" id="login-field"><br>
            <label for="password-field">Password:<br></label>
            <input type="password" name="password" id="password-field"><br>
            <label>Additional notes:<br></label>
            <textarea rows="3"></textarea><br>
            <input type="checkbox" name="subscribe" id="subscribe-me" checked> Get our news by e-mail<br>
            <input type="submit" value="Create account">
        </form>
  </div>>
  -->
<div class="row">
    {% for product in products %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="/media/{{ product.image }}" style="max-width: 200px;">
              <div class="caption">
                <h3>{{ product.name }}</h3>
                <p>
                    {{ product.description }}
                    <br>
                    {{ product.type }}
                    <br>
                    <b>${{ product.price }}</b>
                </p>
                <p>{{product.get_status_display}}</p>
                <p>
                {#  {% for tag in product.tags.all %}  #}
                {#      <!-- <a href="#">#{{tag.name}}</a> -->  #}
                {#  {% endfor %}  #}
                </p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}